.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.pagination {
  margin-top: 0;
  margin-bottom: 0;
}

.form-select {
  max-width: 70px;
  margin-left: 100px;
}
